/* Estilos generales */

/*font*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*general*/


body {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    font-size: 13px;
    /*background-image: linear-gradient(180deg, #d81d10 1%, #da917c 81%);
    background: url(../images/catedral_santiago_fondo.jpg);*/
    /*background: linear-gradient(180deg, rgb(6, 118, 247) 1%, rgb(31, 187, 248) 81%);*/
    /*background: linear-gradient(180deg, #0676F7, #1FBBF8);
    background: linear-gradient(180deg, rgb(5, 46, 94) 1%, rgb(2, 17, 24) 81%);*/
    /*background: #1565c0;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo_dia {
    background: linear-gradient(180deg, rgb(68, 53, 199) 1%, rgb(31, 187, 248) 81%);
}

.fondo_noche {
    background: linear-gradient(180deg, rgb(5, 46, 94) 1%, rgb(2, 17, 24) 81%);
}

.fondo_sol {
    background: linear-gradient(180deg, rgb(8, 117, 206) 1%, rgb(204, 64, 64) 81%);
}

.fondo_tormenta {
    background: linear-gradient(180deg, rgb(0, 107, 194) 1%, rgb(58, 106, 204) 81%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    margin: 8px 0;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:focus {
    outline: 0;
}

a.link-color {
    color: #FF4D27;
}

a.link-color:hover {
    color: #FF4D27;
}

.segments {
    padding: 35px 0;
}

.segments-page {
    padding: 54px 0 25px;
}

.section-title {
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-title h3 {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.section-title .line {
    background-color: #FF4D27;
    width: 30px;
    height: 2px;
    margin: 0 auto;
}

.pages-title {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

.pages-title h3 {
    text-transform: uppercase;
    font-size: 18px;
}

.text-bold {
    font-weight: bold;
    font-size: 14px;
}

.date {
    color: #999;
    font-size: 11px;
    margin-top: 8px;
}

.date i {
    font-size: 13px;
    margin-right: 5px;
}

.bg-second {
    background-color: #fafafa;
}

strong {
    color: white;
}



.btn {
    width: 100% !important;
    margin-bottom: 20px;
}

input {
    color: #333;
    padding-left: 10px;
}

.buscar {
    color: #333;
    margin-left: 5px;
}

/* label underline focus color */
.input-field input[type=search]:focus {
    border-bottom: 1px solid #311b92 !important;
    box-shadow: 0 1px 0 0 #311b92 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #311b92;
}

/* barra baja */
.navbarbaja {
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
}

.input-field input[type=search]+label {
    top: -10px;
}


/*sidebar*/

.contenido-menu {
    margin-top: 30px;
}

.contenido-menu a {
    background: transparent;
    text-align: left;
    border-radius: none;
    box-shadow: none;
    padding-left: 10px;
}

.sidebar-panel .side-nav {
    width: 260px;
    height: 100%;
    background: #333;
}

.sidebar-panel .side-nav .user-view {
    padding: 30px 20px;
    text-align: center;
    /*background-image: linear-gradient(180deg, rgb(15, 73, 139) 0%, rgb(27, 129, 133) 100%);
    border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;*/
}


.sidebar-panel .side-nav .user-view span {
    margin-top: 12px;
    display: block;
}

.sidebar-panel .side-nav .user-view .background img {
    width: 50%;
    height: 50%;
}

.sidebar-panel .side-nav li>a:hover {
    background: transparent;
}

.sidebar-panel .side-nav li>a {
    padding: 0 16px;
    font-weight: 500;
    color: #fff;
}

.sidebar-panel .side-nav li a i {
    margin-right: 1rem;
    width: auto;
    font-size: 15px;
    color: #fff;
}

.sidebar-panel .side-nav li a>i {
    width: 30px;
    font-size: 16px;
    text-align: center;
}

.sidebar-panel .collapsible {
    border: 0;
}

.sidebar-panel .side-nav .collapsible-header {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    overflow: hidden;
}

.sidebar-panel .side-nav .collapsible-header:hover {
    background: transparent;
}

.sidebar-panel .side-nav .collapsible-header>i {
    font-size: 16px;
    width: 30px;
    text-align: center;
}

.sidebar-panel .side-nav .collapsible-header span i {
    float: right;
    margin: 0;
    width: auto;
    font-size: 15px;
}

.sidebar-panel .side-nav .active .collapsible-header span i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sidebar-panel .side-nav .collapsible-body {
    background: #212121;
}

.sidebar-panel .side-nav .collapsible-body li a {
    padding: 0 23.5px 0 61px;
}

.sidebar-panel .side-nav li.active {
    background: transparent;
}

.icon_siderbar {
    padding-left: 5px;
    width: 10%;
}


/* Barra baja del menú */

.barrabaja {
    display: inline-flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: space-around;
    background: #fff;

}

.navBaja {
    display: inline-flex;
}

.inicio {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 21px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 21px 5px rgba(0, 0, 0, 0);
    border-bottom: 6px solid #1565c0;
    margin-bottom: 5px;
}

.iconos_inicio {
    color: transparent;
    background: #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.mapas {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.ciudades {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.busquedas {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.creditos {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.tit_menu {
    font-size: 10px;
    color: #333;
    text-align: center;
}

.iconos_barra {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 400px) {
    .mapas {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .ciudades {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .busquedas {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .creditos {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

}

/* Sobre esta aplicación */

.about-tit {
    color: #333;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.about-version {
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.about-txt {
    color: #333;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}

.about-textoDos {
    padding-top: 40px;

}


/* logo Footer */

.logo_rubenterre {
    text-align: left;
    display: flex;
}

/* ================ Timeline Media Queries ================ */


.chip {
    background-color: transparent !important;
    border-radius: 0px;
    display: block;
    align-items: center;
    text-align: center;
    line-height: 0px;
    color: white;
}

.chip img {
    border-radius: 0px !important;
}

.app-title {
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.carousel {
    height: 100% !important;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
}


@media only screen and (min-width: 600px) {
    .weather-datos {
        padding-top: 8vh;
    }
}


.weather-icon {
    width: 200px;
    height: 100px;
    margin: 50px 0px 0px 0px;
}

.weather-icon img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.temperature-value {
    width: 300px;
    height: 60px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 120px !important;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
}


.temperature-value span {
    color: #fff;
    font-size: 0.5em;
}

.temperature-description {
    padding-top: 10px;
}

.temperature-description p {
    color: #fff;
    text-align: center;
    font-size: 40px !important;
    font-weight: 100;
}


.location p {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 18px !important;
    font-weight: 100;
}


.datosTecnicosCard {
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    /*background: #e3f2fd;*/
    padding-top: 20px;
}

.tit {
    font-weight: 600;
    font-size: 14px;
}

.tit-diario {
    font-weight: 600;
    font-size: 12px;
    padding-right: 25px !important;
}

.tit-mes {
    font-weight: 600;
    font-size: 10px;
}

.datosTecTXT {
    text-align: center;
    color: #333;
    font-size: 15px;

}

.temperature-valueDos p {
    color: white;
    font-size: 15px !important;

}


.feel-like p {
    color: white;
    font-size: 15px !important;
    text-align: center;

}


.wind p {
    color: white;
    font-size: 15px !important;
    text-align: center;

}



.humidity p {
    color: white;
    font-size: 15px !important;

}

.pressure p {
    color: white;
    font-size: 15px !important;
}

.uvi p {
    color: white;
    font-size: 15px !important;
}

.visibilidad p {
    color: white;
    font-size: 15px !important;
}

.tempmax p {
    color: white;
    font-size: 15px !important;
}

.tempmin p {
    color: white;
    font-size: 15px !important;
}

.sunset p {
    color: white;
    font-size: 15px !important;
}

.sunrise p {
    color: white;
    font-size: 15px !important;
}

.DatosEsenciales {
    padding: 10px;
}

.DatosEsencialesInicio {
    padding-top: 40px !important;
}

.tit_icon {
    font-size: 11px;
    font-weight: 100;
    text-align: center;
}

.datosTotales {
    border-radius: 10px;
    /*background: rgba(255, 255, 255, 0.14);*/
    padding-top: 40px;
    padding-bottom: 20px;
}


/* Loader */

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    z-index: 100;
    display: inline-block;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
    width: 80%;
}


/*Prevision por días */

.pronos_horas {
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.horasDestacadas {
    color: white;
    font-weight: 800;
}

.prox_horas {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    align-items: center;
    align-content: center;
}

.weather-icon-mas_una img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.weather-icon-mas_dos img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.weather-icon-mas_tres img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.weather-icon-mas_cuatro img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.weather-icon-mas_cinco img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.weather-icon-mas_seis img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.weather-icon-mas_siete img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.weather-icon-mas_ocho img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.weather-icon_hora_general img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.temp_font {
    font-weight: 300;
}

.centrarItems {
    vertical-align: middle;
    display: flex;
}

/* Previsión horaria */


.caja_dias {
    overflow: auto;
    white-space: nowrap;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.22);
}



.dias_venideros {
    /*border-radius: 10px;
    background: rgba(255, 255, 255, 0.12);
    margin: 5px;*/
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 300;
    display: inline-block;
    width: 60px;

}

.dias_venideros::-webkit-scrollbar {
    display: none;
}

.tit-pasado {
    font-weight: 600;
    font-size: 12px;
    padding-right: 25px !important;
}

.tit-mes_pasado {
    font-weight: 600;
    font-size: 10px;
}

.tit-en_dos_dias {
    font-weight: 600;
    font-size: 12px;
    padding-right: 25px !important;
}

.tit-mes_en_dos_dias {
    font-weight: 600;
    font-size: 10px;
}

.tit-en_tres_dias {
    font-weight: 600;
    font-size: 12px;
    padding-right: 25px !important;
}

.tit-mes_en_tres_dias {
    font-weight: 600;
    font-size: 10px;
}

.tit-en_cuatro_dias {
    font-weight: 600;
    font-size: 12px;
    padding-right: 25px !important;
}

.tit-mes_en_cuatro_dias {
    font-weight: 600;
    font-size: 10px;
}

.tit-en_cinco_dias {
    font-weight: 600;
    font-size: 12px;
    padding-right: 25px !important;
}

.tit-mes_en_cinco_dias {
    font-weight: 600;
    font-size: 10px;
}

.pronos_diario {
    padding-top: 10px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.manana p {
    font-weight: 300;
    font-size: 14px;
}

.pasado p {
    font-weight: 300;
    font-size: 14px;
}

.en_dos_dias p {
    font-weight: 300;
    font-size: 14px;
}

.en_tres_dias p {
    font-weight: 300;
    font-size: 14px;
}


.weather-icon-manana img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.tempmax-manana {
    font-size: 14px;
    padding-right: 30px;
}

.tempmin-manana {
    font-size: 14px;

}

.weather-icon-pasado img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.tempmax-pasado {
    font-size: 14px;
    padding-right: 30px;

}

.tempmin-pasado {
    font-size: 14px;

}

.weather-icon-en_dos_dias img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.tempmax-en_dos_dias {
    font-size: 14px;
    padding-right: 30px;

}

.tempmin-en_dos_dias {
    font-size: 14px;
}

.weather-icon-en_tres_dias img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.tempmax-en_tres_dias {
    font-size: 14px;
    padding-right: 30px;

}

.tempmin-en_tres_dias {
    font-size: 14px;
}


.weather-icon-en_cuatro_dias img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.tempmax-en_cuatro_dias {
    font-size: 14px;
    padding-right: 30px;

}

.tempmin-en_cuatro_dias {
    font-size: 14px;
}


.weather-icon-en_cinco_dias img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.tempmax-en_cinco_dias {
    font-size: 14px;
    padding-right: 30px;

}

.tempmin-en_cinco_dias {
    font-size: 14px;
}


.PanelDatosInicio {
    border-radius: 20px;
    background: rgb(0, 0, 0, 0.4);
    border: 1px solid white;
}


/*Fases lunares */

#ex2 {
    width: 100%;
    margin: 20px auto;
    color: white;
}

#ex2>b {
    display: block;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

#ex2>div {
    display: inline-block;
    vertical-align: top;
}

#ex2>div>div {
    margin: 1%;
    padding: 1%;
}

#ex2>div>div>span {
    font-size: 20px;
}

#ex2>div>div>div {
    font-size: 14px;
    text-align: center;
    overflow-x: hidden;
    display: none;
}

#ex2>div>div>svg {
    width: 60%;
    display: block;
    margin: 10px auto 0 auto;
}

/* Tarjetas del buscador */

.tarjeta {
    border-radius: 10px !important;
    display: inline-flex;
    width: 100%;
    align-content: center;
}

.fondo_card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px !important;
}

.descripcion_card {
    padding-left: 10px;
    font-size: 12px;
    color: white;
}

.tit_busq {
    font-size: 15px !important;
}

#agregar-favoritos {
    background: transparent;
    border: 0px;
}

#boton-guardar {
    background: transparent;
    border: 0px;
    padding-left: 20px;
}

.city-name {
    font-size: 15px !important;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.estado-name {
    font-size: 10px !important;
    font-weight: 600 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.city-temp {
    font-size: 15px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    padding-bottom: 50px !important;
}

.boton-buscar {
    width: 100%;
    border: 0px solid white;
    background: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: white;
    display: none;
}



/* Footer */

footer {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
}